.headSection {
    text-align: center;
    width: 80%;
    margin: auto auto;
}
.searchHolder {
    display: flex;
    justify-content: space-between;
}
.inputt{
    width: 70%;
}
.moviesList {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
.movieCardHolder {
    width: 70%;
    margin: .5rem auto;
    /* height: 400px; */
}

.loaderContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    text-align: center;
}
.card-body > button {
    margin-top: 1rem;  
}

.footer {
    height: 10rem;
    background-color: cyan;
    width: 100%;
}
/*   for desktop   */
@media screen and (min-width: 600px){
    .moviesList {
        display: flex;
        width: 80%;
        margin: auto auto;
        align-items: center;
    }
    .movieCardHolder {
        width: 18rem;
        height: 100%; 
        cursor: pointer;
        box-shadow: 1px 2px 3px black;
        border-radius: 10px;
        transition: transform .4s ease;
    }
    .movieCardHolder:hover {
        transform: scale(1.04);
        box-shadow: 2px 2px 7px rgb(243, 243, 243);
    }
    .card {
        margin-top: .5rem;
        height: 100%;
    }
    .card > img {
        height: 20rem;
        object-fit: cover;
    }

}




/*        individual        */
.movieDetailPage {
    width: 95%;
    margin: auto auto;
    min-height: 100vh;
    color: white;
}
.idImageHolder {
    width: 100%;
    background-color: inherit;
}
.idImageHolder >img {
    width: 100%;
    height: 50vh;
    object-fit: contain;
}

.textSectionHolder {
    width: 80%;
    margin: auto auto;
    margin-top: .5rem;
}
.title {
    text-align:center;
    font-size: 2.2rem;
}
.det {
    /* display: flex; */
}